# Airbnb - Ciudad de Mexico (CDMX)

Este data set es un conjunto de propiedades/viviendas registradas en airbnb que pertenecen a la ciudad de mexico, la capital de Mexico.

In [2]:
import pandas as pd
from IPython.display import display

df_airbnb = pd.read_csv('../datasets/cdmx_airbnb_dataset.csv')

# solo un overview del contenido del data set
display(df_airbnb[['name','description', 'host_location', 'property_type']].head())
# dimensiones del dataset filas, columnas
print(df_airbnb.shape)

,name,description,host_location,property_type
0,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Mexico City, Mexico City, Mexico",Entire villa
1,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,"Mexico City, Distrito Federal, Mexico",Entire house
2,Great space in historical San Rafael,This great apartment is located in one of the ...,"Mexico City, Mexico City, Mexico",Entire condominium
3,Entire beautiful duplex in la Roma,"This beautiful apartment is centrally located,...","Mexico, MX",Entire loft
4,Spacious Clean Quiet room (own bath) in la Con...,"Located in La Condesa, one of the best neighbo...","Mexico City, Distrito Federal, Mexico",Private room in house

(20065, 74)

El siguiente dataset fue elegido para analizar el costo de renta de propiedades en la capital de Mexico, actualmente existe un fenomeno en el alza de precios de renta de propiedades, esto se debe a la gran demanda que hay por vivienda en la ciudad de mexico debido a la inmigracion de personas nacionales y extranjeras.

En el siguiente dataset encontramos varias columnas que son de interes para analizar por que ha ocurrido un alza en el precio de renta de las viviendas en airbnb, y asi mismo poder identificar las zonas con costos mas elevados de renta:

In [3]:
display(df_airbnb[['host_neighbourhood','property_type', 'accommodates', 'bedrooms', 'amenities', 'price', 'minimum_nights', 'review_scores_rating']].head())

,host_neighbourhood,property_type,accommodates,bedrooms,amenities,price,minimum_nights,review_scores_rating
0,NaN,Entire villa,2,1.0,"[""Pocket wifi"", ""Washer"", ""Bed linens"", ""Kitch...","$4,088.00",1,NaN
1,Condesa,Entire house,14,5.0,"[""TV"", ""Dedicated workspace"", ""Dryer"", ""Piano""...","$7,293.00",1,91.0
2,San Rafael,Entire condominium,2,1.0,"[""TV"", ""Dedicated workspace"", ""Bed linens"", ""S...",$600.00,4,97.0
3,Roma Norte,Entire loft,2,1.0,"[""Essentials"", ""Elevator"", ""Cooking basics"", ""...","$1,487.00",15,100.0
4,Condesa,Private room in house,2,1.0,"[""TV"", ""Dedicated workspace"", ""Dryer"", ""Luggag...","$1,239.00",2,98.0

La gentrificacion de la ciudad de mexico es ocasionada por el desplazamiento de los habitantes locales hacia otras zonas mas economicas por habitantes que pueden pagar mas por las mismas propiedades, en este caso renta.

En este data set hay informacion de utilidad que nos puede dar indicios de cuales son las caracteristicas de una propiedad para justificar el valor de su renta, asi como las **alcaldias** mas caras y mas baratas de la cdmx, tambien podriamos analizar la correlacion que hay entre estas variables como puede ser el **numero de dormitorios**, de **camas**, el **minimo de noches** de estancia, el **tipo de propiedad**, **amenidades**, etc. y ver como se afectan unas con otras para determinar el valor de renta de dichas propiedades.

# Reastaurantes de comida rapida en Estados Unidos

Este dataset incluye los restaurantes de comida rapida en Estados Unidos y como estan distribuidos en las principales ciudades de dicho pais.

In [4]:
df_fast_food = pd.read_csv('../datasets/fast_food_restaurants_dataset.csv')

# solo un overview del contenido del data set
display(df_fast_food[['name','address', 'city']].head())
# dimensiones del dataset filas, columnas
print(df_fast_food.shape)

             name               address          city
0  SONIC Drive In      800 N Canal Blvd     Thibodaux
1  SONIC Drive In      800 N Canal Blvd     Thibodaux
2       Taco Bell   206 Wears Valley Rd  Pigeon Forge
3          Arby's          3652 Parkway  Pigeon Forge
4  Steak 'n Shake  2118 Mt Zion Parkway        Morrow

(10000, 16)

Este data set fue elegido por que actualmente trabajo en el sector de ejecucion de operaciones para los mas grandes cadenas/franquicias de restaurantes de comida rapida de Estados Unidos, por lo tanto, me interesa analizar este conjunto de datos para entender como esta distribuidos las cadenas de restaurantes en USA.

En este dataset hay diferentes columnas que nos pueden indicar como estan distribuidas las cadenas de restaurantes en USA (**latitud**, **longitud**), asi como tambien contabilizar las **ubicaciones** de los restaurantes por **nombre** de franquicia, y de esta manera ver en que **provincias** estan concentrados clientes potenciales para la empresa (actualmente ya algunos de ellos son clientes), asi como para entender las **categorias** de las franquicias y como estas estan relacionadas con su distribucion en las diferentes ciudades de USA.

In [10]:
display(df_fast_food[['name', 'postalCode', 'categories', 'latitude', 'longitude', 'province', 'city']].head())

,name,postalCode,categories,latitude,longitude,province,city
0,SONIC Drive In,70301,American Restaurant and Fast Food Restaurant,29.814697,-90.814742,LA,Thibodaux
1,SONIC Drive In,70301,Fast Food Restaurants,29.814697,-90.814742,LA,Thibodaux
2,Taco Bell,37863,Fast Food Restaurant,35.803788,-83.580553,TN,Pigeon Forge
3,Arby's,37863,Fast Food,35.782339,-83.551408,TN,Pigeon Forge
4,Steak 'n Shake,30260,Fast Food Restaurant,33.562738,-84.321143,GA,Morrow

# MiBici - Bicicletas como transporte sustentable en la AMG (Area Metropolitana de Guadalajara, Mexico)

Este data set incluye los viajes en bicicleta de los usuarios de la ciudad de AMG del mes de Marzo del 2023, la bicicleta en AMG es uno de los medios sustentables oficiales que el gobierno de Mexico ha implementado con la finalidad de reducir las emisiones de los autos.

In [6]:
df_mibici = pd.read_csv('../datasets/mibici_trips_march_2023.csv')

# solo un overview del contenido del data set
display(df_mibici[['Usuario_Id','Genero', 'Anio_de_nacimiento', 'origen_name', 'destino_name']].head())
# dimensiones del dataset filas, columnas
print(df_mibici.shape)

,Usuario_Id,Genero,Anio_de_nacimiento,origen_name,destino_name
0,12551,M,1987.0,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
1,12551,M,1987.0,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
2,371,F,1989.0,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
3,1642116,M,1979.0,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
4,371,F,1989.0,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci

(402460, 20)

Este dataset fue elegido para analizar el medio de transporte de la bicicleta como medio sustentable en una de las ciudades mas grandes del pais, **AMG** (Area Metropolitana de Guadalajara), que esta compuesta realmente por un conjunto de ciudades que forman el Area Metropolitana del Estado de Guadalajara en Mexico. Actualmente la **AMG** es considerada una de las ciudades con mayor crecimiento gracias a la inversion e inovacion de empresas de Sillicon Valley, esto ha repercutido en la forma en que las personas buscan hacer de la ciudad una ciudad mas verde.

En este dataset podemos encontrar diferentes variables para identificar las **rutas** mas usadas por las personas para transportarse en bici, y de esta manera identificar en que estaciones es necesario agregar o quitar mas cantidad de bicis, tambien podriamos entender en que rango de **edades** estan los usuarios, asi como tambien el genero de los mismos, addicional podriamos entender cual es el **tiempo** promedio que un usuario utiliza el transporte, asi como cuales **dias** son los **mas demandados** y en que **horarios**, con todas estas variables podriamos hacer un pronostico del uso del transporte segun el dia y horario, asi como el tiempo promedio que los usuarios utilizan las bicicletas.

In [8]:
display(df_mibici[['Usuario_Id', 'Genero', 'Anio_de_nacimiento', 'Inicio_del_viaje', 'Fin_del_viaje','origen_name', 'destino_name']].head())

,Usuario_Id,Genero,Anio_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,origen_name,destino_name
0,12551,M,1987.0,01/03/23 0:00,01/03/23 0:11,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
1,12551,M,1987.0,07/03/23 7:40,07/03/23 7:51,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
2,371,F,1989.0,08/03/23 8:55,08/03/23 9:05,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
3,1642116,M,1979.0,09/03/23 12:49,09/03/23 13:04,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci
4,371,F,1989.0,10/03/23 8:48,10/03/23 8:58,(GDL-078) C. Comercio / C. La Paz,(GDL-037) C.Juan N. Cumplido /C. Independenci